---
layout: default
title:  Aranea | Metal rings for birds and bats
excerpt: Aranea - Metal rings for birds and bats

slides:
- image: /images/swans-wlodarczyk.jpg
  position: bottom right
  title: Mute swans
  excerpt: Mute swans ringed with oval rings with lock.
  url: "/oval-rings-with-lock.html"
  link_text: Oval rings with lock
- image: /images/swan-kijanowski.jpg
  position: top right
  title: Mute swan
  excerpt: Mute swan ringed with oval ring with lock.
  url: "/oval-rings-with-lock.html"
  link_text: Oval rings with lock
- image: /images/black-headed-gull.jpg
  position: right
  title: Black-headed gull
  excerpt: Black-headed gull ringed with round split ring.
  url: "/round-split-rings.html"
  link_text: Round split rings
- image: /images/eurasian-sparrowhawk.jpg
  position: center
  title: Eurasian sparrowhawk
  excerpt: Eurasian sparrowhawk ringed with round split ring.
  url: "/round-split-rings.html"
  link_text: Round split rings

features:
- icon: fa-check-square-o
  title: Bird rings
  excerpt: Made of aluminium or other lightweight material. Made to be attached to the bird’s leg. The rings are very light and designed to have no adverse effect on the bird.
- icon: fa-check-square-o
  title: Bat rings
  excerpt: The rings are made from very light materials and designed to have no adverse effect on the bats. They are produced in suitable size for bats.

spotlights:
- image: /images/round-split-rings.jpg
  title: Round split rings
  excerpt: Round split rings are open and ready to put on bird's leg. The edges of the rings are blunt.
  url: "/round-split-rings.html"
  link_text: Learn More
- image: /images/pic02.jpg
  title: Round rings with lock
  excerpt: Round rings with lock are open and ready to put on bird's leg. The edges of the rings are blunt.
  url: "/round-rings-with-lock.html"
  link_text: Learn More
- image: /images/pic03.jpg
  title: Rivet rings
  excerpt: The edges of the rings are blunt. The rings are packed in plastic bags (10 pcs).
  url: "/rivet-rings.html"
  link_text: Learn More
- image: /images/pic04.jpg
  title: Oval rings with lock
  excerpt: Oval rings are open and ready to put on bird's leg. The edges of the rings are blunt.
  url: "/oval-rings-with-lock.html"
  link_text: Learn More
- image: /images/pic04.jpg
  title: Duckling rings
  excerpt: Special rings for day-old ducklings. These rings have the texture on the inside surface for plasticine filling.
  url: "/duckling-rings.html"
  link_text: Learn More
- image: /images/pic04.jpg
  title: Commemorative rings
  excerpt: Commemorative rings.
  url: "/commemorative-rings.html"
  link_text: Learn More
- image: /images/pic04.jpg
  title: Rings for bats
  excerpt: Rings of suitable size for bats.
  url: "/bat-rings.html"
  link_text: Learn More

---
<!-- Main -->
	<section class="main">

		{% include layout/banner.html slides=page.slides %}

		<!-- Blurb -->
			<section>
				<h1>Our offer</h1>
				<p>Our own experience in bird ringing, co-operation with bird ringers, consulting with our customers and continuous improvement in technology enable us to offer professional quality bird and bat rings.</p>
			</section>

		{% include components/features.html features=page.features %}

		{% include components/spotlights.html spotlights=page.spotlights %}

	</section>

{% include components/sidebar.html %}