---
layout: default
title: Home | Faction
excerpt: Faction by Pixelarity

slides:
- image: /images/slide01.jpg
  position: bottom right
  title: Ultricies sed magna
  excerpt: Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor ipsum dolor.
  url: "#"
  link_text: Magna sed dolor
- image: /images/slide02.jpg
  position: top right
  title: Sed mattis nunc lorem
  excerpt: Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida fringilla.
  url: "#"
  link_text: Magna sed dolor
- image: /images/slide03.jpg
  position: right
  title: Nisl sed vitae
  excerpt: Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac magna consequat purus ipsum consequat.
  url: "#"
  link_text: Magna sed dolor
- image: /images/slide04.jpg
  position: center
  title: Porta ultricies consectetur
  excerpt: Mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt lorem ipsum dolor sit amet. Magna tellus fusce tincidunt lorem.
  url: "#"
  link_text: Magna sed dolor

features:
- icon: fa-diamond
  title: Nisl sed vitae
  excerpt: Nullam et orci sed lorem magna et vivamus sagittis libero.
- icon: fa-floppy-o
  title: Sed mattis nunc
  excerpt: Duis non efficitur nisi, sed justo. Maecenas sagittis semper.
- icon: fa-laptop
  title: Porta ultricies
  excerpt: Maecenas sagittis felis ac sagittis semper. Curabitur purus leo.
- icon: fa-paper-plane
  title: Magna tellus
  excerpt: Auctor orci eu dolor consectetur, interdum ullamcorper ante.

spotlights:
- image: /images/pic01.jpg
  title: Sit amet posuere risus amet lorem faucibus lectus
  excerpt: Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac magna consequat.
  url: "#"
  link_text: Learn More
- image: /images/pic02.jpg
  title: Ante sed fermentum tempus vitae eleifend magna
  excerpt: Quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis felis elementum.
  url: "#"
  link_text: Learn More
- image: /images/pic03.jpg
  title: Lorem ipsum dolor sit amet consectetur adipiscing
  excerpt: Purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
  url: "#"
  link_text: Learn More
- image: /images/pic04.jpg
  title: Duis vulputate amet tincidunt lacinia velit aliquet
  excerpt: Mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt lorem ipsum dolor sit amet.
  url: "#"
  link_text: Learn More

---

{% comment %}

	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Index page

	Description:

		An homepage showcasing all components included with Faction.

{% endcomment %}

<!-- Main -->
	<section class="main">

		{% include layout/banner.html slides=page.slides %}

		<!-- Blurb -->
			<section>
				<h1>Sed mattis nunc lorem</h1>
				<p>Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla lorem.</p>
			</section>

		{% include components/features.html features=page.features %}

		{% include components/spotlights.html spotlights=page.spotlights %}

	</section>

{% include components/sidebar.html %}