

<!-- Sidebar -->
	<aside class="sidebar{% if include.align == 'left' %} alt{% endif %}">

		<!-- Blurb -->
			<section>
				<span class="logo"><h2>Aranea</h2></span>
				<p>We are producer of <strong>bird rings since 1990</strong> and <strong>bat rings since 2008</strong>. Our rings are used in countries in Europe, Asia, Africa, North and South America.</p>
				<p><strong> We offer competitive prices for ringing schemes.</strong></p>
			</section>

		<!-- Featured post -->
			{% comment %} Set featured_post in _config.yml {% endcomment %}
			{% assign post = site.posts | where:"id",site.featured_post | first %}
			{% if post %}

				<section class="featured-posts">
					<h2>Featured post</h2>
					<article>

						{% if post.image %}
							<a href="{{ post.url }}" class="image fit">
								<img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
							</a>
						{% endif %}

						<header>
							<span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
							<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						</header>
						{{ post.excerpt }}
						<ul class="actions">
							<li><a href="{{ post.url }}" class="button">Continue Reading</a></li>
						</ul>
					</article>
				</section>

			{% endif %}

		<!-- Posts -->
			<section>
				<h2>Examples</h2>
				<ul class="posts">

					{% for post in site.posts limit:4 %}
						<li>
							<a href="{{ post.url }}">{{ post.title }}</a>
							<span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
						</li>
					{% endfor %}

				</ul>
			</section>
	</aside>