<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<section class="info">
				<h3>About Us</h3>
				<div class="about">
					<p><strong>Aranea</strong> is a manufacturer of <strong>metal rings for birds and bats</strong>.
					Our own experience in bird ringing and continuous improvement in technology enable us to offer professional quality bird and bat rings.</p>
					<p>We have been producing <strong>bird rings since 1990</strong> and <strong>bat rings since 2008</strong>. Our rings are used in countries in Europe, Asia, Africa, North and South America.</p>
				</div>
                                <!--
				<div class="team">
					<article>
						<span class="image"><img src="{{ site.baseurl }}/images/owl.jpg" alt=""></span>
						<p>
							<strong class="name">Piotr Olejniczak</strong>
							<span class="title">aranea@birdrings.eu</span>
						</p>
					</article>
				</div>-->
			</section>
			<section class="contact">
				<h3>Contact</h3>
				<ul class="contact-icons">
					<li class="icon fa-home"><a href="#"><strong>Aranea</strong> Piotr Olejniczak<br />ul. Śląska 148a<br />93-237 Łódź, Poland</a></li>
					<li class="icon fa-fax"><a href="#">+48 42 643 6363</a></li>
					<li class="icon fa-envelope"><a href="#">aranea@birdrings.eu</a></li>
					<li class="icon fa-envelope"><a href="#">aranea@infocentrum.com</a></li>
				</ul>
			</section>
		</div>
		<div class="copyright">
			Aranea &copy; Piotr Olejniczak <br /> All rights reserved
		</div>
	</footer>
