<!-- Header -->
	<header id="header">

		<!-- Logo -->
			<span class="logo">
				<a href="{{ site.baseurl }}/">{{ site.title }}</a>
				<span>{{ site.tagline }}</span>
			</span>

		<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li>
						<a href="#" class="icon fa-angle-down">Bird rings</a>
						<ul>
							<li><a href="/round-split-rings.html">Round split rings</a></li>
							<li><a href="/round-rings-with-lock.html">Round rings with lock</a></li>
							<li><a href="/rivet-rings.html">Rivet rings</a></li>
							<li><a href="/oval-rings-with-lock.html">Oval rings with lock</a></li>
							<li><a href="/duckling-rings.html">Duckling rings</a></li>
							<li><a href="/commemorative-rings.html">Commemorative rings</a></li>
						</ul>
					</li>
					<li><a href="{{ site.baseurl }}/bat-rings.html">Bat rings</a></li>
					<!--
					<li><a href="{{ site.baseurl }}/generic.html">Generic</a></li>
					<li><a href="{{ site.baseurl }}/elements.html">Elements</a></li>
				    -->
				</ul>
			</nav>
	</header>
