---
layout: no-sidebar
---
<header>
	<h1>{{ page.title }}</h1>
	<p>{{ page.date | date: "%B %-d, %Y" }}</p>
</header>

{% if page.image %}
	<span class="image fit">
		<img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
	</span>
{% endif %}

{{ content }}